:root {
  --violet: #674baf;
  --soft-magenta: #e882e8;
}

/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--violet);
  color: #fff;
  line-height: 1;
  min-height: 100vh;
  background-image: url("../assets/images/body/bg-desktop.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  background-attachment: fixed;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
}

/* Utilities */

.container {
  padding: 0 80px;
  max-width: 1440px;
  margin: 0 auto;
}
