/* Header */

.header {
  padding: 6.4rem 0;
}

.header-logo {
  width: 20rem;
}

/* Main section */

.main {
  margin-top: 4rem;
}

.main-section .container {
  display: grid;
  grid-template-columns: 57fr 43fr;
  column-gap: 56px;
}

.main-section-text {
  padding-top: 4.8rem;
}

.main-section-text-heading-el {
  color: var(--heading-color);
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.5;
}

.main-section-text-paragraph {
  margin-top: 3.2rem;
}

.main-section-text-paragraph-el {
  color: var(--paragraph-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1.85rem;
  font-weight: 400;
  line-height: 1.6;
}

.main-section-text-button {
  margin-top: 2.4rem;
}

.main-section-text-button-el:link,
.main-section-text-button-el:visited {
  color: var(--violet);
  background-color: #fff;
  padding: 2rem 6.4rem;
  font-size: 1.8rem;
  border-radius: 100px;
  box-shadow: 0px 5px 30px -10px #000000;
  transition: all 0.3s ease;
}

.main-section-text-button-el:hover,
.main-section-text-button-el:active {
  color: #fff;
  background-color: var(--soft-magenta);
}

/* Footer */

.footer {
  padding: 4rem 0;
  margin-top: auto;
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  gap: 1.6rem;
}

.footer-social-link-el:link,
.footer-social-link-el:visited {
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.footer-social-link-el:hover,
.footer-social-link-el:active {
  border-color: var(--soft-magenta);
}

.fa-brands {
  color: #fff;
  font-size: 1.85rem;
  transition: all 0.3s ease;
}

.footer-social-link-el:hover .fa-brands,
.footer-social-link-el:active .fa-brands {
  color: var(--soft-magenta);
}
